{% if cart.item_count > 0 %}
  <table class="table">
    <thead>
      <th>Index</th>
      <th colspan="2">Product</th>
      <th>Quantity</th>
      <th class="text-end">Total</th>
    </thead>
    <colgroup>
      <col style="width: 5%">
      <col style="width: 15%">
      <col style="width: 55%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <tbody>
      {% for item in cart.items %}
        <tr>
          <td class="text-center">{{ item.properties.cart_index }}</td>
          <td>
            <a href="{{ item.url | within: collections.all }}">
              <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-fluid">
            </a>
          </td>
          <td>
            <div><a href="{{ item.url }}" class="text-decoration-none">{{ item.product.title }}</a></div>
            <div class="text-secondary">{{ item.variant.title }}</div>
            {{ item.price | money }}
          </td>
          <td class="text-end">
            {{ item.quantity }}
          </td>
          <td class="text-end">
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="3"><b>Total</b></td>
        <td class="text-end"><b>{{ cart.item_count }}</b></td>
        <td class="text-end"><b>{{ cart.total_price | money }}</b></td>
      </tr>
    </tbody>
  </table>
{% else %}
  <p>Your cart is empty</p>
{% endif %}
