<h1>Cart</h1>
{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate id="js-cart-form">
    <table class="table">
      <thead>
        <th colspan="2">Product</th>
        <th>Quantity</th>
        <th class="text-end">Total</th>
      </thead>
      <colgroup>
        <col style="width: 10%">
        <col style="width: 60%">
        <col style="width: 15%">
        <col style="width: 15%">
      </colgroup>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-fluid">
              </a>
            </td>
            <td>
              <div><a href="{{ item.url }}" class="text-decoration-none">{{ item.product.title }}</a></div>
              <div class="text-secondary">{{ item.variant.title }}</div>
              {{ item.price | money }}
            </td>
            <td>
              <div class="row">
                <div class="col-9">
                  <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" class="form-control">
                </div>
                <div class="col-3">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="fa-solid fa-trash-can" style="color:red"></i></a>
                </div>
              </div>
            </td>
            <td class="text-end">
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3" class="text-end align-text-bottom">Subtotal</td>
          <td class="fs-5 text-end"><b>{{ cart.total_price | money }}</b></td>
        </tr>
      </tbody>
    </table>
    <div class="mb-3">
      <div class="form-check">
        <input type="hidden" name="attributes[add_instructions]" value="0">
        <input type="checkbox" name="attributes[add_instructions]" value="1" class="form-check-input" id="add_instructions" {% if cart.attributes.add_instructions == '1' %}checked{% endif %}>
        <label for="add_instructions" class="form-check-label">Add instructions</label>
      </div>
      <div class="{% if cart.attributes.add_instructions != '1' %}d-none{% endif %}">
        <textarea name="note" class="form-control" rows="3">{{ cart.note }}</textarea>
      </div>
    </div>
    <div class="text-end">
      <button type="submit" name="update" class="btn btn-outline-primary btn-lg">Update</button>
      <button type="submit" name="checkout" class="btn btn-success btn-lg">Checkout</button>
    </div>
  </form>
{% else %}
  Your cart is empty
{% endif %}
