{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="row row-cols-1 row-cols-sm-2 mb-3">
  <div class="col">
    <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" class="img-fluid mb-2" style="width: 100%">
    <div class="row row-cols-3 row-cols-sm-4">
      {% for image in product.images %}
        <div class="col">
          <a href="{{ image.src | img_url: 'large' }}">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="img-fluid">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col">
    <h1>{{ product.title }}</h1>
    <div class="mb-3 fs-5"><b>{{ current_variant.price | money }}</b></div>
    <form>
      <div class="row mb-3">
        <div class="col-md-9">
          <select name="variant_id" class="form-control">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - sold out
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <input type="number" name="quantity" value="1" min="1" class="form-control">
        </div>
      </div>
      <div class="d-grid">
        <input type="hidden" name="cart_index" value="{{ cart.item_count }}">
        <button type="button" id="js-add-to-cart-btn" class="btn btn-lg btn-block btn-add-to-cart {% if current_variant.available %}btn-success{% else %}btn-secondary disabled{% endif %}">
          <i class="fa-solid fa-cart-plus"></i>
          Add to cart
        </button>
      </div>
    </form>
  </div>
</div>      
<div>{{ product.description }}</div>

<div class="modal fade" id="stockInformationModal" tabindex="-1" aria-labelledby="stockInformationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stockInformationModalLabel">Stock information & Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>
          <i class="fa-solid fa-warehouse"></i>
          Stock information
        </h6>
        <p>
          {% if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" %}
            We have <b>{{ current_variant.inventory_quantity }}</b> item(s) in stock.
          {% else %}
            This product is available.
          {% endif %}
        </p>
        <hr class="mb-3">
        <h6>
          <i class="fa-solid fa-cart-shopping"></i>
          Cart
        </h6>
        {% render 'simple-cart' %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).on('load', function(){ 
    $('#stockInformationModal').modal('show'); 
  });
</script>
